iframe {
    width: 100%; /* Make iframe take full width of its container */
    height: 100%; /* Ensure iframe adjusts height as needed */
    max-width: 100%; /* Ensure iframe does not exceed its container's width */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px
}

header {
    background-color: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

section h2 {
    color: #333;
}

section p, section ul {
    color: #666;
    line-height: 1.6;
}

section img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
    max-width: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    opacity: 50%;
}

@media (max-width: 768px) {
    nav ul li {
        margin: 0 5px;
    }

    section {
        padding: 1.5rem;
        margin: 0.5rem auto;
    }

    footer {
        padding: 0.5rem 0;
    }
}
